@import '../../main.scss';

$color-special-primary: rgb(255, 255, 255);
$color-special-secondary: rgb(97, 67, 196);
$color-special-tertiary: rgb(185, 187, 51);

h3 {
    color: rgb(100, 143, 78);
}

.event-color-primary {
    color: 
    $color-special-primary;
}

.event-color-secondary {
    color: 
    $color-special-secondary;
}

.event-color-tertiary {
    color: 
    $color-special-tertiary;
}


.menu-plat {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 16px 0;
    padding: 16px;

    &__prices {
        padding-top: 25px;
        padding-bottom: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        height: 15%;
        width: 90%;
        position: relative;
       
    }

    &__price {
        color: rgb(185, 187, 51);
        font-size: 1.25rem;

        &--special {

            color: 
            $color-special-tertiary;
                }
    }

    &__title {
        color: rgb(100, 143, 78);
        display: flex;
        align-items: center;
        font-size: 1.75rem;
        justify-content: center;
        padding-top: 5%;
        height: 5vh;

        &--special {

            color: 
            $color-special-secondary;
                }
    }

    &__card {
        display: flex;
        padding-top: 5px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 85%;
        width: 100%;
    }
}

.plat {
    background-color: #fff;
    width: 350px;
    padding: 16px;
    display: flex;
    border-radius: 12px;
    margin: 16px 0;
    position: relative;

    &--animation {
        overflow: hidden;
        cursor: pointer;
        animation: itemAppear 1.7s;
        animation-timing-function: cubic-bezier(1,.99,1,.87);
        animation-fill-mode: both;
        transform-origin: top center;
        transform: scale(1);
    }

    &__info {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
    }

    &__title {
        @include police-apparence('Roboto', black, $text);
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__description {
        @include police-apparence('Roboto', black, $text);
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;    
    }

    &__price {
        @include police-apparence('Roboto', black, $price);
        font-weight: 700;
        @include flex-use (row, flex-end, flex-end);
        padding-right: 30px;
    }

    &__confirmation {
        margin: -16px -80px -16px -16px;
        width: 64px;
        @include flex-use (row, center, center);
        transition-duration: 0.5s;
    }

    &:hover &__confirmation {
        margin-right: -16px;
    }

    &__wrapicon {
        height: 25px;
        width: 25px;
        background-color: white;
        @include flex-use (row, center, center);
        border-radius: 100px;
   
    }

    &__icon {
        color: $color-tertiary;
    }

    &:hover {
        i {
            animation: itemCheckSpin 0.4s ease-in-out;
        }
    } 
}

.plats-principaux {
    margin-top: 40px;
}

