.footer {
    display: flex;
    width: auto;
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
    color: #999;
    
    &__left {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__title {
            color: #991;
        }

        &__container {
            display: flex;
            flex-direction: column;
            padding: 5%;
        }
    }

    &__right {
        width: 50%;
        height: 30vh;
    }
}

.social {
    margin-right:30px;
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        
        &__left {
            width: 100%;
            margin-bottom: 20px;
        }

        &__right {
            width: 100%;
        }
    }
}