.menu-principale {
    height: 150%;
    padding-top: 12vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;    
        color: rgb(100, 143, 78);
    }

    &__container {
        border: 1px solid #000;
        border-radius: 25px;
        display: flex;
        height: 100%;
        width: 95%;
    }

    &__links {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__content {
        width: 60%;
    }


}