.menu-principale {
    padding-top: 12vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;    
        color: rgb(100, 143, 78);
    }

    &__container {
        border-radius: 25px;
        display: flex;
    }
}

@media (max-width: 768px) {
.menu-principale {
    padding-top: 12vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;    
        color: rgb(100, 143, 78);
    }

    &__container {
        border-radius: 25px;
        display: flex;
        flex-direction: column;
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



}
}